body {
	margin: 0px;
	background: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.title ol li {
	list-style: none;
}

.title ol {
	padding: 0px;
	margin: 0px;
}

nav {
	/*background-color: #00c5f7;*/
	border-radius: 10px;
	width: 90%;
	margin: auto;

	background: rgba(181,198,208,1);
	background: -moz-linear-gradient(left, rgba(181,198,208,1) 0%, rgba(181,198,208,0.51) 98%, rgba(224,239,249,0.5) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181,198,208,1)), color-stop(98%, rgba(181,198,208,0.51)), color-stop(100%, rgba(224,239,249,0.5)));
	background: -webkit-linear-gradient(left, rgba(181,198,208,1) 0%, rgba(181,198,208,0.51) 98%, rgba(224,239,249,0.5) 100%);
	background: -o-linear-gradient(left, rgba(181,198,208,1) 0%, rgba(181,198,208,0.51) 98%, rgba(224,239,249,0.5) 100%);
	background: -ms-linear-gradient(left, rgba(181,198,208,1) 0%, rgba(181,198,208,0.51) 98%, rgba(224,239,249,0.5) 100%);
	background: linear-gradient(to right, rgba(181,198,208,1) 0%, rgba(181,198,208,0.51) 98%, rgba(224,239,249,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c6d0', endColorstr='#e0eff9', GradientType=1 );
}

nav > ol li {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

.title li {
	text-align: center;
	width: calc(100% / 4);
	padding-top: 7px !important;
	padding-bottom: 7px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

li a {
	text-decoration: none;
	color: white;
}

.title li:hover {
	border-radius: 10px;
	background-color: azure;
}

.title li:hover a {
	color: black;
	font-weight: bolder;
}

.active {
	border-radius: 10px;
	background-color: azure;
}

.active a {
	color: black;
	font-weight: bolder;
}

.title {
	width: 100%;
	height: auto;
	background-color: #8080808f;
	text-align: center;
	padding-bottom: 1%;
}

@media (max-width: 978px ){
	.title img {
		width: 90%;
		border-radius: 20px;
		margin-bottom: 1%;
	}	
}

@media (min-width: 978px ){
	.title img {
		border-radius: 20px;
		margin-bottom: 1%;
	}	
}

.title h1 {
	color: white;
	margin: 0px;
	margin-bottom: 10px;
}

#content {
	text-align: center;
	border: 1px solid white;
	border-radius: 10px;
	width: 70%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 5%;
	height: auto;
	font-size: 18px;
}

#content div {
	padding: 1%;
}

@media (max-width: 680px){
	#content div div img {
		width: 90%;
	}
}

@media (min-width: 680px){
	#content div div img {
		width: 50%;
	}
}

@media (max-width: 600px){
	#content {
		width: 90% !important;
	}
}

input {
	border-radius: 10px;
	outline: 0px;
	padding: 1%;
}